/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  color: black;

  /*	font-family: 'Overpass Mono', monospace; */

  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* sets the font size to 16px */

  line-height: 1.4;

  /* sets the line height to 1.4 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-family: "Fredoka One", cursive;
  font-size: 35px;
  color: black;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: undefined;
}

a:hover,
a:focus {
  /* no underlining  when hovering over a link */
  text-decoration: none;
}

.web-text:hover {
  /* no underlining  when hovering over a link */
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
  border-style: double;
  border-color: #005f8f;
  border-radius: 10px;
}

.web-text:focus {
  /* no underlining  when hovering over a link */
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
  border-style: double;
  border-color: #005f8f;
  border-radius: 10px;
}

.video-text:hover {
  /* no underlining  when hovering over a link */
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
  border-style: double;
  border-color: #005f8f;
  border-radius: 10px;
}

.video-text:focus {
  /* no underlining  when hovering over a link */
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
  border-style: double;
  border-color: #005f8f;
  border-radius: 10px;
}

a:active {
  /* selected link */
  color: black;
}

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.main-logo {
  text-align: center;
  margin: 200px 0 10px;
  width: auto;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto 200px;
  width: auto;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.logo-text {
  margin: 0 auto 200px;
  text-align: center;
}

.video-text,
.web-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 10px;
  padding: 5px;
  border-style: double;
  border-color: lightblue;
  border-radius: 10px;
  opacity: 1;
  width: 200px;
}

#web_image,
#video_image {
  opacity: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: scale(1,0);
      -ms-transform: scale(1,0);
          transform: scale(1,0);
}

/* .page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
} */

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media_logo {
  -webkit-transition: opacity, -webkit-transform 1s ease;
  transition: opacity, -webkit-transform 1s ease;
  -o-transition: opacity, transform 1s ease;
  transition: opacity, transform 1s ease;
  transition: opacity, transform 1s ease, -webkit-transform 1s ease;
  opacity: 0;
  margin: 0 .3rem;
  -webkit-transform: scale(0,1);
      -ms-transform: scale(0,1);
          transform: scale(0,1);
}

.social-media_logo:hover {
  /* lets the mouse appears as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  -webkit-filter: /*drop-shadow(2px 2px 2px black)*/ saturate(300%);
          filter: /*drop-shadow(2px 2px 2px black)*/ saturate(300%);
  border-bottom: double #005f8f;
}

.social-media_logo:focus {
  /* lets the mouse appears as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  -webkit-filter: /*drop-shadow(2px 2px 2px black)*/ saturate(300%);
          filter: /*drop-shadow(2px 2px 2px black)*/ saturate(300%);
  border-bottom: double #005f8f;
}

#logo_dsp {
  text-align: center;
  max-height: 55px;
  max-width: 200px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75);
}

.text {
  color: #005f8f;
  text-align: center;
  -webkit-transform: uppercase;
      -ms-transform: uppercase;
          transform: uppercase;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* .main-text,
.main-logo,
.social-media {
  background-color: black;
} */

@media only screen and (max-width: 500px) {
  .main-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 50px;
    max-width: 500px;
  }

  /* .main-text,
  .main-logo,
  .social-media {
    background-color: black;
  } */
  .text {
    opacity: 1;
    -webkit-transform: uppercase;
        -ms-transform: uppercase;
            transform: uppercase;

    /* font-size: 15px; */
  }

  .video-text,
  .web-text {
    width: 100%;
  }

  /* .main-logo,
  .social-media {
    max-width: 500px;
  } */

  .main-logo {
    margin-top: 100px;
  }
}