:root {
  --primary-color: #0078b2;
  --secondary-color: gray;
  --text-color: #483f8b;
  --background-color: #fff;
  --primary-color-lighter: lightblue;
  --primary-color-darker: #005f8f;
  --secondary-color-lighter: lightgray;
  --button-text-color: white;
  --button-border-radius: 10px;
  --responsive-margin-top: 0;
  --responsive-margin-top-large: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  font-family: "Fredoka One", cursive;
  font-size: 35px;
  color: var(--primary-color);
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 0;
}

a {
  color: var(--text-color);
}

a:visited {
  color: var(--secondary-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--primary-color);
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: var(--button-border-radius);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

input[type="submit"] {
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: var(--button-border-radius);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  cursor: pointer;
  opacity: 0.8;
}

.navigation-list__item {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

.navigation-list__item--active {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  background: var(--primary-color-lighter);
}

#find-me-on {
  font-family: "Fredoka One", cursive;
  color: var(--primary-color);
  font-size: 30px;
  margin: 10px;
}

#web {
  font-family: "Fredoka One", cursive;
  border-radius: 5px;
  border-color: var(--primary-color-lighter);
  background-color: var(--primary-color-lighter);
  padding: 5px;
}

#career-foundry,
#bell-u {
  font-family: "Fredoka One", cursive;
}

.profile {
  display: flex;
  max-width: 700px;
  align-items: center;
  margin: 100px auto 0;
  padding: 0 20px 20px;
}

.profile__portrait {
  max-width: 200px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile__text {
  text-align: left;
  padding-bottom: 20px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: var(--background-color);
  z-index: 9999;
  margin: 0 auto;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media_logo:hover,
.social-media_logo:focus {
  cursor: pointer;
  opacity: 0.8;
  filter: /*drop-shadow(2px 2px 2px black)*/ saturate(200%);
}

#logo_dsp {
  max-height: 55px;
  max-width: 200px;
}

#dsp-website-capture,
#dansp-website-capture {
  flex-shrink: 1;
  width: auto;
}


.about {
  margin: 100px auto 0;
  text-align: center;
}

.about-list {
  list-style-type: none;
  padding: 0;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.about-list li {
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.about-list li:nth-child(odd) {
  background-color: var(--secondary-color-lighter);
}


.about-list li:nth-child(even) {
  background-color: var(--primary-color-lighter);
}
.about-list li:hover,
.about-list li:focus {
  background-color: inherit;
}


.about-bio {
  max-width: 600px;
  margin: 0 auto;
}

.experience {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.experience-table {
  margin: 0 auto;
}

th {
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

td {
  padding: 5px;
}

.experience-table__video {
  background-color: var(--secondary-color-lighter);
}

.experience-table__web {
  background-color: var(--primary-color-lighter);
}

.contact {
  margin: 100px auto 0;
}

.contact-message {
  display: inline-block;
}

.work_section {
  margin: 100px 5px 5px;
}

#work {
  text-align: center;
}

/* animation for Mississauga skyline svg */
@keyframes cloud-move {
  from {
    transform: translate(-100px, 15px);
  }

  to {
    transform: translate(0, 15px);
  }
}

.cloud_2 {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move_2 {
  from {
    transform: translate(-100px, 10px);
  }

  to {
    transform: translate(0, 10px);
  }
}

.cloud_4 {
  animation: 30s cloud-move_2 infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(200px, 95px);
  }

  to {
    transform: translate(100px, 95px);
  }
}

.cloud_1 {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse_2 {
  from {
    transform: translate(-100px, -20px);
  }

  to {
    transform: translate(-200px, -20px);
  }
}

.cloud_3 {
  animation: 30s cloud-move-reverse_2 infinite alternate linear;
}

@keyframes color-change_1 {
  0% {
    fill: #f15922;
  }

  50% {
    fill: white;
  }

  100% {
    fill: #f15922;
  }
}

.red_light {
  animation: 4s color-change_1 infinite alternate linear;
}

@keyframes color-change_2 {
  0% {
    fill: #6fceee;
  }

  100% {
    fill: yellow;
  }
}

.window {
  animation: 2s color-change_2 infinite alternate linear;
}

.mississauga_svg {
  max-width: 700px;
  margin: 0;
}

nav.container {
  font-family: "Fredoka One", cursive;
  margin: 0 auto;
  text-align: center;
}

nav.container a {
  color: var(--primary-color-darker);
  text-decoration: none;
  font: "Fredoka One", cursive;
  margin: 0 10px;
  padding: 10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

/* Pull up and down  */
nav.pullUpDown a::before,
nav.pullUpDown a::after {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  content: "";
  background: var(--secondary-color);
  opacity: 0.3;
  transition: all 0.3s;
}

nav.pullUpDown a::before {
  top: 0;
}

nav.pullUpDown a::after {
  bottom: 0;
}

nav.pullUpDown a:hover::before,
nav.pullUpDown a:hover::after {
  height: 100%;
}

#career-foundry:visited,
#bell-u:visited {
  color: var(--text-color);
}

#download-button:visited {
  color: var(--button-text-color);
}

#codelink-button,
#codelink-button:visited {
  color: var(--button-text-color);
  text-align: center;
}

#intro {
  font-family: "Fredoka One", cursive;
}

.workgrid-github-link {
  display: inline-flex;
  text-decoration: none;
  background-color: var(--background-color);
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

.workgrid-github-link:hover,
.workgrid-github-link:focus {
  opacity: 0.8;
}

.workgrid-github-link:visited {
  color: var(--primary-color-darker);
}

.portfolio-links {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-evenly;
  background-color: var(--primary-color-lighter);
  padding: 5px 5px;
  border: solid 1px #fff;
  border-radius: 5px;
  margin: 0 auto;
}



.contact-form__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.standard-label {
  width: 100px;
  align-self: flex-start;
  justify-content: flex-end;
  margin: 10px 0;
  padding-right: 10px;
}

#contact-name,
#contact-email,
#contact-tel,
#contact-message {
  width: 290px;
  margin: 5px 0;
  padding: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border-style: inset;
  border-width: 1px;
}

#send-message {
  flex: stretch;
  width: 150px;
  margin: 20px 0;
  justify-content: center;
}

#contact-me {
  text-align: center;
}

.portfolio-logo {
  transition: all 0.2s ease 0s;
}

.portfolio-logo:hover,
.portfolio-logo:focus {
  opacity: 0.8;
  filter: saturate(500%);
  filter: grayscale(100%);
  cursor: pointer;
}

#logo_dsp_menubar {
  max-height: 30px;
  align-self: center;
  padding: 0;
  margin: 0;
}

.work_section {
  width: 100%;
  margin: 100px auto 0px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.project {
  background-color: transparent;
  height: 300px;
  width: 300px;
  perspective: 1000px;
}

.project_inner  {
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 1s;
}


.project_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgba(191, 194, 196, 0.55);
  color: var(--primary-color-darker);
  font-size: 0.9rem;
  padding: 10px 10px;
  transform: rotateY(180deg);
}

.project_front,
.project_info {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.project_image {
  max-width: 300px;
  flex-shrink: 1;
  transition: all 1s ease;
}

.project:hover .project_inner {
  transform: rotateY(180deg);
}


.project__description {
  display: block;
}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: var(--);
  position: relative;

  /*  border-bottom: solid;
  border-color: var(--secondary-color); */
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: var(--primary-color);
  padding: 10px;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: var(--primary-color-lighter);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

/* Style the active link (or home/logo) */
.active {
  background-color: var(--primary-color-lighter);
  color: white;
}

.topnav {
  display: none;
}

#result_good,
#result_bad {
  max-width: 400px;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}

.nodisplay {
  display: none;
}

/* navigation responsive styling */

@media only screen and (min-width: 1125px) {
  .projects {
    margin: auto auto;
    width: 80%;
  }
}

@media only screen and (max-width: 715px) {
  .topnav {
    display: inherit;
  }
  .project_item {
    width: 33%;
  }
  .page-header {
    display: none;
  }

  .work_section {
    margin-top: var(--responsive-margin-top);
  }

  .profile {
    margin-top: var(--responsive-margin-top);
  }

  .about {
    margin-top: var(--responsive-margin-top);
  }

  .about-bio {
    padding: 10px;
  }

  .contact {
    margin-top: var(--responsive-margin-top);
  }
}

@media only screen and (max-width: 500px) {
  .work_section {
    margin-top: var(--responsive-margin-top-large);
  }

  .profile {
    flex-direction: column;
    margin-top: var(--responsive-margin-top-large);
    text-align: center;
    padding: 10px;
  }

  .about {
    margin-top: var(--responsive-margin-top-large);
  }

  .contact {
    margin-top: var(--responsive-margin-top-large);
  }

  .profile__portrait {
    float: none;
    max-width: 200px;
    margin: auto;
    border-radius: 50%;
  }

  .profile__text {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px 20px;
  }

  .standard-label {
    width: 290px;
    margin: 0;
  }

  .hide {
    display: none;
  }

  .project_item {
    width: 100%;
  }
}
